@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<DropdownButton Text="Dropdown Button!!">
    <DropdownItem Href="/settings">Settings</DropdownItem>
    <DropdownItem Href="/earnings">Earnings</DropdownItem>
    <DropdownItem Href="/logout">Logout</DropdownItem>
</DropdownButton>